@tailwind base;
@tailwind components;
@tailwind utilities;

.noise {
    background-image: linear-gradient(45deg, hsla(0, 0%, 100%, 0.2), hsla(0, 0%, 100%, 0) 60%), url("assets/noise.svg");
    background-repeat: repeat;
    opacity: 0.75;
  }